.hide_user{
    visibility: hidden;
}

.remove_height{
    height: 200px;
}


.danger_box{
    visibility: hidden;
}

@media only screen and (max-width: 600px){
    .foooter{
        margin-top: 80px;
    }
}